.about-main{
    background-color: black;
}
.about{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.043) 50%, rgb(0, 0, 0)), 
    url('https://img.freepik.com/premium-photo/summer-grass-silhouette-light_1009862-5540.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me{
    backdrop-filter: blur(5px);
    border: 1px solid orangered;
    padding: 20px 40px;
    border-radius: 5px;
}
.about-me::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: red;
    translate: -50% -50%;
    border-radius: 50%;
    animation: 
        move 10s  infinite,
        sizes 10s steps(4, end) infinite;
}
@keyframes sizes {
    0%,50%,100%{
        height: 5px;
        width: 15px;
    }
    25%,75%{
        height: 15px;
        width: 5px;
    }
}
@keyframes move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75% {
        top: 100%;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
.about-me h2{
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}
.about-me p{
    font-size: 20px;
}
/* about-journey */
.about-journey{
    position: relative;
    color: white;
    /* padding: 20px 50px; */
}
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px *18);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(57, 56, 56, 0.532);
    margin: 0px 10px;
    border: 1px solid orangered;
    transition: 0.5s ease-in-out;
}
.slider::after, .slider::before{
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    /* background: linear-gradient(to right, black 0%, orangered 100%); */
    background: radial-gradient(circle at 100%, #000, #000 50%, orangered 75%, #000 75%);
    left: 0;
    top: 0;
}
.slider::after{
    /* background: linear-gradient(to right, orangered 0%, black 100%); */
    background: radial-gradient(circle at 0%, #000, #000 50%, orangered 75%, #000 75%);
    right: 0;
    top: 0;
}
.slide:hover{
    transform: scale(1.1);
}
.about-journey h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}