.exp-main{
    background: black;
}
.exp{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(to bottom, rgba(254, 225, 3, 0) 50%, rgba(0, 0, 0, 0.982)), 
    url('https://a-static.besthdwallpaper.com/nature-daisy-flowers-wallpaper-2048x1152-11104_49.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.exp-my{
    position: relative;
    border: 1px solid yellow;
    padding: 20px 40px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
}
.exp-my::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: yellow;
    translate: -50% -50%;
    border-radius: 50%;
    animation: 
        move 10s  infinite,
        sizes 10s steps(4, end) infinite;
}
@keyframes sizes {
    0%,50%,100%{
        height: 5px;
        width: 15px;
    }
    25%,75%{
        height: 15px;
        width: 5px;
    }
}
@keyframes move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75% {
        top: 100%;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
.exp-my h2{
    font-size: 50px;
    margin-bottom: 10px;
}
.exp-my p{
    font-size: 20px;
}
.exp-grad{
    color: white;
    /* padding: 20px 50px; */
}
.slider{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px *18);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 150px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgba(57, 56, 56, 0.532);
    margin: 0px 10px;
    border: 1px solid yellow;
    transition: 0.5s ease-in-out;
}
.slider::after, .slider::before{
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    /* background: linear-gradient(to right, black 0%, yellow 100%); */
    background: radial-gradient(circle at 100%, #000, #000 50%, yellow 75%, #000 75%);
    left: 0;
    top: 0;
}
.slider::after{
    /* background: linear-gradient(to right, yellow 0%, black 100%); */
    background: radial-gradient(circle at 0%, #000, #000 50%, yellow 75%, #000 75%);
    right: 0;
    top: 0;
}
.slide:hover{
    transform: scale(1.1);
}
.exp-grad h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.exp-grad p{
    text-align: center;
}