.input{
    background-color: transparent;
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 15px;
    margin: 5px 0px 50px 0px;
}
.input::placeholder, .textarea::placeholder{
    color: black;
}
.textarea{
    height: 100px;
    width: 300px;
    background: transparent;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}
textarea:focus, input:focus{
    border:2px solid brown;
    outline: none;
    transition: 2s ease-in-out;
}
.button{
    height: 40px;
    width: 200px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    transition: 1s ease-in-out;
}
.button:hover{
    background: black;
    color: white;
}
/* Introduction design */
.home{
    background-color: black;
}
.Intro{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.043) 50%, rgb(0, 0, 0)), 
    url('https://media1.giphy.com/media/xUA7b4arnbo3THfzi0/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.Intro h1{
    font-size: 50px;
}
.Intro p{
    font-size: 20px;
    padding: 5px 10px;
}
.forms{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    color: white;
}