.container{
    margin: 60px 10px 60px 10px;
    border-radius: 50px;
}
.module{
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(20px);
    background-color: transparent;
    margin-top: 30px;
    border-radius: 10px;
    scroll-behavior: smooth;
}
.input{
    background-color: transparent;
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    padding: 0px;
}
.input::placeholder, .textarea::placeholder{
    color: rgb(185, 104, 104);
}
.textarea{
    height: 100px;
    width: 300px;
    background: transparent;
    border: 1px solid black;
}
.button{
    height: 40px;
    width: 200px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    transition: 1s ease-in-out;
}
.button:hover{
    background: black;
    color: white;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 20px;
    }
}