.links{
    position: fixed;
    background-color: transparent;
    display: flex;
    width: 100%;
    z-index: 99;
    top: 0;
    backdrop-filter: blur(5px);
}

div li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(99, 26, 26);
    transition: 1s ease;
    border-radius: 20px;
}