.links{
    position: fixed;
    /* background-color: transparent; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(5px);
    height: 70px;
    background: rgba(255, 0, 119, 0.158);
}
div li{
    list-style-type: none;
    /* background: transparent; */
}
div li a{
    text-decoration: none;
    color: rgb(3, 251, 3);
    /* color: rgb(231, 8, 8); */
    font-weight: bolder;
    transition: 1s ease;
    font-size: 20px;
    margin: 0px 10px;
    background: transparent;
}
@media (max-width: 320px){
    .links{
        width: 320px;
    }
    div li a{
        font-size: 15px;
        margin: 0px 5px;
        font-weight: bold;
    }
}